attrs
crispy-bootstrap5
decorator
dj-database-url
Django
django-bootstrap-modal-forms
django-bootstrap3
django-crispy-forms
django-embed-video
django-environ
django-forms-bootstrap
django-import-export
django-widget-tweaks
docutils
google-auth
google-auth-oauthlib
google-pasta
html5lib
htmlmin
idna
ImageHash
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jaraco.classes
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras
kiwisolver
libclang
lxml
Markdown
MarkupPy
MarkupSafe
matplot
matplotlib
matplotlib-inline
mediapipe
mistune
more-itertools
MouseInfo
mssql-django
multimethod
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numpy
oauthlib
odfpy
opencv-contrib-python
opencv-python
openpyxl
opt-einsum
outcome
packaging
pandas
pandas-profiling
pandocfilters
parso
patsy
pefile
phik
pickleshare
pillow
pipenv
pkginfo
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
psycopg2
pure-eval
pyasn1
pyasn1-modules
PyAutoGUI
pycparser
pycryptodome
pydantic
pygame
PyGetWindow
PyGithub
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyJWT
pyloco
PyMsgBox
PyMuPDF
PyMuPDFb
PyNaCl
pyodbc
pyOpenSSL
pyparsing
PyPDF2
pyperclip
PyRect
pyrsistent
PyScreeze
PySimpleGUI
PySocks
python-barcode
python-dateutil
python-decouple
python-docx
python-dotenv
python-multipart
pytweening
pytz
PyWavelets
PyYAML
pyzmq
qtconsole
QtPy
readme-renderer
requests
requests-oauthlib
requests-toolbelt
rfc3986
rich
rsa
scikit-learn
scipy
seaborn
selenium
Send2Trash
SimpleWebSocketServer
six
sniffio
sortedcontainers
soupsieve
sqlparse
stack-data
starlette
statsmodels
tablib
tangled-up-in-unicode
termcolor
terminado
testpath
tzdata